flow-post-stateful.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Compose": {
                "inputs": {
                    "alias": "@{triggerBody()?['alias']}",
                    "feedback": "@{triggerBody()?['feedback']}",
                    "id": "@{guid()}"
                },
                "runAfter": {},
                "type": "Compose"
            },
            "Create_or_update_item": {
                "inputs": {
                    "parameters": {
                        "containerId": "Items",
                        "databaseId": "Feedback",
                        "isUpsert": true,
                        "item": "@outputs('Compose')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "CreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "ServiceProvider"
            },
            "Response": {
                "inputs": {
                    "body": {
                        "error": "Internal Server Error"
                    },
                    "statusCode": 500
                },
                "kind": "http",
                "runAfter": {
                    "Create_or_update_item": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "type": "Response"
            },
            "Response_Success": {
                "inputs": {
                    "body": "@outputs('Compose')",
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Create_or_update_item": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Terminate": {
                "inputs": {
                    "runStatus": "Succeeded"
                },
                "runAfter": {
                    "Response": [
                        "Succeeded"
                    ],
                    "Response_Success": [
                        "Succeeded"
                    ]
                },
                "type": "Terminate"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "alias": {
                                "type": "string"
                            },
                            "feedback": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}