flow-get-feedback.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Query_items": {
                "inputs": {
                    "parameters": {
                        "containerId": "Items",
                        "databaseId": "Feedback",
                        "queryText": "select * from c where c.alias = '@{triggerOutputs()['relativePathParameters']['alias']}'"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {},
                "type": "ServiceProvider"
            },
            "Response_Fail": {
                "inputs": {
                    "body": {
                        "error": "Internal Server Error"
                    },
                    "statusCode": 500
                },
                "kind": "http",
                "runAfter": {
                    "Query_items": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "type": "Response"
            },
            "Response_Success": {
                "inputs": {
                    "body": "@body('Query_items')?['items']",
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Query_items": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Terminate": {
                "inputs": {
                    "runStatus": "Failed"
                },
                "runAfter": {
                    "Response_Fail": [
                        "Succeeded"
                    ],
                    "Response_Success": [
                        "Succeeded"
                    ]
                },
                "type": "Terminate"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "GET",
                    "relativePath": "{alias}"
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}
